@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(var(--tw-rotate));
  }
  50% {
    transform: translateY(-15px) rotate(var(--tw-rotate));
  }
  100% {
    transform: translateY(0px) rotate(var(--tw-rotate));
  }
}

.animate-float-slow {
  animation: float 8s ease-in-out infinite;
}

.animate-float-medium {
  animation: float 6s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 5s ease-in-out infinite;
}
